/* Navbar */
.navbar.navbar-dark.bg-dark {
    width:100%;
}

/* Popup title */
.popup-title {
    font-weight: bold;
    font-size: 24px;
}

/* Popup text */
.popup-text {
    font-size: 16px;
}

/* Continue button */
.continue-button {
    padding: 10px 20px;
    background-color: lightgreen;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button:hover {
    background-color: limegreen;
}

/* center vertically */
.modal {
    align-items: center;
}

/* Center horizontally */
.modal-dialog {
    margin: 0 auto;
    max-width: 800px !important; 
}

.modal-footer {
    display: flex;
    justify-content: center;
}

/* Center the modal title vertically */
.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}