/* /////////// Navbar /////////// */
.navbar.navbar-dark.bg-dark {
    width:100%;
}

/* /////////// Page background color /////////// */
body {
    background-color: ivory; /* Off-white background color */
}

/* /////////// Modal //////////// */

/* Popup title */
.popup-title {
    font-weight: bold;
    font-size: 24px;
}

/* Popup text */
.popup-text {
    font-size: 16px;
}

/* Continue button */
.continue-button {
    padding: 10px 20px;
    background-color: lightgreen;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button:hover {
    background-color: limegreen;
}

/* center vertically */
.modal {
    align-items: center;
}

/* Center horizontally */
.modal-dialog {
    margin: 0 auto;
    max-width: 800px !important; 
}

.modal-footer {
    display: flex;
    justify-content: center;
}

/* Center the modal title vertically */
.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Animation */
.animate__animated.animate__zoomIn {
    animation-duration: 1s;
}


/* /////////// Instruction /////////// */

.instruction {
    background-color: #EBDFCE; /* Set background color to EBDFCE */
    padding: 20px; /* Add padding for better appearance */
    margin-bottom: 30px; /* Add space between the instruction  section and questionnaire*/
}

/* /////////// Questionnaire /////////// */

/* Questionnaire Content Box */
.content-box {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background-color: #d1dbc2;
    border: 1px solid #ccc;
}

/* Move the questionnaire to the right */
.questionnaire {
    margin-left: 90px; 
}

/* Space adjustment */
.dropdown-questions p {
    margin-bottom: 8px; /* Add space below each question */
}

.spacer {
    margin-bottom: 50px; /* Adjust the space between the questions */
}

/* Unanswered questions */
.unanswered {
    box-shadow: 0 0 10px 5px rgba(243, 78, 78, 0.5);
}

.error-message {
    font-weight: bold;
    display: none;
    text-align: center; /* Center-align the text */
    color: red;
}

/* /////////// Predict Button /////////// */

#predictButton {
    color: white;
}

.predict-button {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #99afb3;
    padding: 10px 20px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.predict-button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}





