<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Research | COVID-19 Risk Wizard</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- COVID_Predictor.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/COVID_Predictor.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark" aria-label="First navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">COVID-19 Risk Wizard</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/OurTeam">Our Team</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Welcome to COVID-19 Risk Wizard!</h5>
            </div>
            <div class="modal-body">
            <p>Explanation about the page...</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Continue</button>
            </div>
        </div>
        </div>
    </div>

    <div class="instruction">
        <p>Explanation of how to fill in the quastionnaire...</p>
    </div>
    
    <!-- Questionnaire -->
    <div class="content-box">
        <div class="questionnaire">
            <!-- Dropdown menu questions -->
            <div class="dropdown-questions">
                <p>Age</p>
                <select name="age" id="ageSelect">
                    <option value=""></option>
                </select>
                <p class="spacer">&nbsp;</p>
                <p>Race/Ethnicity</p>
                <select name="Race/Ethnicity">
                    <option value=""></option>
                    <option value="Hispanic">Hispanic</option>
                    <option value="Non-Hispanic AAPI">Non-Hispanic AAPI</option>
                    <option value="Non-Hispanic Black">Non-Hispanic Black</option>
                    <option value="Non-Hispanic White">Non-Hispanic White</option>
                    <option value="Other">Other</option>
                </select>
                <p class="spacer">&nbsp;</p>
                <p>Residential Area Type</p>
                <select name="Residential Area Type">
                    <option value=""></option>
                    <option value="Urban">Urban/City</option>
                    <option value="Suburban">Suburban/Town</option>
                    <option value="Rural">Rural/Country</option>
                </select>
                <p class="spacer">&nbsp;</p>
                <p>Smoking Status</p>
                <select name="Smoking Status">
                    <option value=""></option>
                    <option value="Never">Never</option>
                    <option value="Current or Former">Current or Former</option>
                </select>
                <p class="spacer">&nbsp;</p>
                <p>Cancer Status</p>
                <select name="Cancer Status">
                    <option value=""></option>
                    <option value="Remission (NED, Remote)">Remission (NED, Remote)</option>
                    <option value="Remission (NED, Recent)">Remission (NED, Recent)</option>
                    <option value="Active & Responding">Active & Responding</option>
                    <option value="Active & Stable">Active & Stable</option>
                    <option value="Active & Progressing">Active & Progressing</option>
                    <option value="Unknown">Unknown</option>
                </select>
                <p class="spacer">&nbsp;</p>
            </div>
            <!-- Yes/No questions -->
            <div class="yes-no-questions">
                <p>No Cancer Treatment In the 3 Months Prior to COVID-19</p>
                <label><input type="radio" name="cancer treatment" value="yes"> Yes</label>
                <label><input type="radio" name="cancer treatment" value="no"> No</label>
                <p class="spacer">&nbsp;</p>
                <p>Diabetes Mellitus</p>
                <label><input type="radio" name="Diabetes Mellitus" value="yes"> Yes</label>
                <label><input type="radio" name="Diabetes Mellitus" value="no"> No</label>
                <p class="spacer">&nbsp;</p>
                <p>Cardiovascular Comorbidity (CAD, CHF, Afib, arrhythmia NOS, PVD, CVA, cardiac disease NOS)</p>
                <label><input type="radio" name="Cardiovascular Comorbidity" value="yes"> Yes</label>
                <label><input type="radio" name="Cardiovascular Comorbidity" value="no"> No</label>
                <p class="spacer">&nbsp;</p>
                <p>Pulmonary Comorbidities</p>
                <label><input type="radio" name="Pulmonary Comorbidities" value="yes"> Yes</label>
                <label><input type="radio" name="Pulmonary Comorbidities" value="no"> No</label>
                <p class="spacer">&nbsp;</p>
                <p>Renal Comorbidities</p>
                <label><input type="radio" name="Renal Comorbidities" value="yes"> Yes</label>
                <label><input type="radio" name="Renal Comorbidities" value="no"> No</label>
                <p class="spacer">&nbsp;</p>
                <p>Obesity</p>
                <label><input type="radio" name="Obesity" value="yes"> Yes</label>
                <label><input type="radio" name="Obesity" value="no"> No</label>
                <p class="spacer">&nbsp;</p>

            </div>
            <!-- Predict button -->
            <button type="Predict">Predict</button>
        </div>
    </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript -->
    <script>
        $(document).ready(function() {
            $('#exampleModal').modal('show'); // Show the modal when the page loads
        });
    </script>
    <script>
        // Generate options for ages 18 to 90
        var ageSelect = document.getElementById("ageSelect");
        for (var i = 18; i <= 90; i++) {
            var option = document.createElement("option");
            option.value = i;
            option.text = i;
            ageSelect.appendChild(option);
        }
    </script>
</body>
</html>